.annotation-section {
  position: fixed;
  top: 325px;
}

#annotation-form {
  margin-bottom: 167px;
  width: 401px;
}

.annotation-form-substring {
  white-space: pre-line;
  border: .15rem solid #cccccc;
  height: 100%;
  font-weight: 100;
  color: #757575;
  padding: 8px;
}

.annotation-form-textarea {
  white-space: pre-line;
  border: .15rem solid #cccccc;
  height: 140px;
  margin-bottom: 20px;
  font-weight: 100;
  color: #757575;
  padding: 8px;
}

.annotation-show {
  width: 401px;
}
