h2 {
  font-size: 12px;
}

.front-page-above-fold {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 75px 0 75px;
  height: 400px;
}

.feature-song-text {
  text-align: center;
  align-items: center;
  width: 275px;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%) */
}

div[class^="front-page-feature"] {
  position: relative;
  text-align: center;
  color: white;
}

.feature-song-image {

}

.front-page-feature-0 {
  background-color: pink;
  width: 600px;
  height: 400px;
}

.front-page-feature-1 {
  background-color: purple;
  width: 285px;
  height: 245px;
}

.front-page-feature-2 {
  background-color: yellow;
  width: 285px;
  height: 140px;
}

.new-song-header-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #fb3785;
  background-color: #fb3785;
}
