.front-page-container {
  min-height: calc(100vh - 167px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.front-page-above-fold {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 75px 0 75px;
  align-items: flex-end;
  max-width: 1231px;
  min-width: 1231px;
  position: relative;
}

.feature-song-title {
  letter-spacing: 4px;
}

.feature-song-artist {
  letter-spacing: 4px;
}

div[class^="front-page-feature"] {
  position: relative;
  margin: 10px;
  background-color: black;
}

.feature-song-image {
  opacity: 0.9;
  object-fit: cover;
}

.feature-song-image:hover {
  opacity: 1;
}

.front-page-feature-0 {
  display: block;
  width: 600px;
  height: 600px;
}

.front-page-feature-0 h2 {
  font-size: 32px;
}
.front-page-feature-0 h3 {
  font-size: 26px;
}

.front-page-feature-1 {
  width: 285px;
  height: 285px;
}

.front-page-feature-2 {
  width: 285px;
  height: 285px;
}

.front-page-feature-3 {
  width: 285px;
  height: 285px;
}

.front-page-feature-4 {
  width: 285px;
  height: 285px;
}

.front-page-other-holder {
  display: flex;
  height: 285px;
  position: absolute;
  top: 10px;
  right: 85px;
  justify-content: space-between;
}

.front-page-other-rando {
  width: 285px;
  height: 285px;
  position: relative;
  background-color: black;
  margin-left: 20px;
}

.feature-song-text {
  text-align: center;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 2px 0 grey;
  width: 285px;
}

.new-song-header-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #fb3785;
  background-color: #fb3785;
}

.front-page-latest-header {
  display: inline-block;
  border-bottom: 1px solid #99a7ee;
}
