nav {
  justify-content: center;
  display: block;
}

.navbar-top {
  background-color: #ffff64;
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.nav-logo {
  font-family: 'Cabin', sans-serif;
  color: #ffff64;
  text-shadow: -2px 2px 0 black;
  letter-spacing: 4px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  font-size: 28px;
  margin-left: 70px;
  min-width: 179px;
  position: absolute;
  height: 45px;
  top: 1px;
}

.navbar-top a {
  display: flex;
  justify-content: space-around;
}

.nav-header {
}

.nav-header div {
  display: flex;
}

.nav-greeting {
  display: flex;
}

.nav-name {
  font-weight: bolder;
  margin-top: 13px;
  text-transform: uppercase;
  padding-right: 8px;
}

.nav-button {
  border: none;
  display: flex;
  border-bottom: 7px solid #ffff64;
  margin-top: 8px;
  min-width: 55px;
}

.nav-button:hover {
  border-bottom: 7px solid #fb3785;
}

.navbar-bottom {
  background-color: black;
  color: #ffffff;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  align-items: center;
  font-weight: lighter;
}

.nav-link {
  color: #ffffff;
  padding-right: 25px;
  font-weight: lighter;
}

.nav-link:hover {
  color: #ffff64;
}
