nav {
}

.nav-header {
}

.nav-button {
  border: none;
}

.nav-button:hover {
  border-bottom: 7px solid #fb3785;
}

.nav-logo {
  font-family: 'Mukta', sans-serif;
  color: #ffff65;
  text-shadow: -2px 2px 0 black;
  letter-spacing: 4px;
}

.navbar-top {
  background-color: #ffff65;
}

.navbar-bottom {
  margin: 0 auto;
  background-color: black;
  color: #ffffff;
}

.navbar-bottom .nav-link {
  font-family: 'Mukta', sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
