.lyrics-container p {
  white-space: pre-line;
  font-size: 1.125em;
  margin: 1rem 0;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 150%;
}

.show-sidebar {
  margin: 1rem;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 150%;
  border-left: 2px solid #99a7ee;
}

.sidebar-section {
  color: #99a7ee;

}

.show-section-label {
  color: #99a7ee;
  border-bottom: 2px solid #99a7ee;
  width: 100%;
  padding-bottom: .375rem;
  letter-spacing: .04rem;
  padding-top: 20px;
  margin-bottom: 35px;
}

.purple-button {
  color: #99a7ee;
  border: .15rem solid #99a7ee;
  margin-top: 20px;
  margin-left: 15px;
}
